<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet" href="{% static "css/theme.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
  {% endif %}
  {% ifinstalled cartridge.shop %}
  <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
  {% endif %}
  {% endifinstalled %}
  {% block extra_css %}{% endblock %}
  {% endcompress %}

  {% compress js %}
  <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/bootstrap-extras.js" %}"></script>
  {% block extra_js %}{% endblock %}
  {% endcompress %}

  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

  <!-- Navbar class
  ================================================== -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">
          {% if settings.SITE_TITLE %}
            {{ settings.SITE_TITLE }}
          {% endif %}
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- End Navbar class -->

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{STATIC_URL}}img/backgroung-header.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <!-- Title and description block
            ================================================== -->
            {% block navbar_title %}
            <h1>
              {% if settings.SITE_TITLE %}<h1><a class="" href="/">{{ settings.SITE_TITLE }}</a></h1>{% endif %}
            </h1>
            <hr class="small">
            <span class="subheading">
              {% if settings.SITE_TAGLINE %}<h3><p class="">{{ settings.SITE_TAGLINE }}</p></h3>{% endif %}
            </span>
            {% endblock%}<!-- End Title and description block -->
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Container class
================================================== -->
<div class="container">

  {% nevercache %}
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endnevercache %}

  <!-- Search form
  ================================================== -->
  {% search_form %}
  <!-- End Search form -->

  <h2>{% block title %}{% endblock %}</h2>

  <!-- Breadcrumb class
  ================================================== -->
  <ul class="breadcrumb">
  {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
  {% endspaceless %}
  </ul><!-- End Breadcrumb class -->

</div><!-- End Container class -->

<!-- Container class
================================================== -->
<div class="container">

  <!-- Row class
  ================================================== -->
  <div class="row">

  <!--div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
  </div-->

  <!-- Center Column
  ================================================== -->
  <div class="col-sm-8">
    <div class="well">
      {% block main %}
      {% endblock %}
    </div>
  </div><!-- End Center Column -->

  <!-- Right Column
  ================================================== -->
  <div class="col-sm-4">
    <div class="well">
    {% block right_panel %}
      <h1>Some text...</h1>
    {% endblock %}
    </div>
  </div><!-- End Right Column -->

  </div><!-- End Row class -->
  

</div><!-- End Container class -->

<!-- Footer
================================================== -->
<div class="container">
  <div class="well">
  <h1>Footer text...</h1>
  </div>
</div><!-- End Footer -->

<!-- Contact Form JavaScript -->
<script src="{% static "js/jqBootstrapValidation.js" %}"></script>
<!-- Theme JavaScript -->
<script src="{% static "js/clean-blog.min.js" %}"></script>

{% block footer_js %}
  {% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
