{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

  <!-- Carousel
  ================================================== -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
          <img class="" src="{{STATIC_URL}}img/carousel/carousel-1.png">
            <div align="center">
              <span class="">
                Link 1
              </span>
            </div>
          </img>
        </a>
      </div>
      <div class="item">
        <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
          <img class="" src="{{STATIC_URL}}img/carousel/carousel-2.png">
            <div align="center">
              <span class="">
                Link 2
              </span>
            </div>
          </img>
        </a>
      </div>
      <div class="item">
        <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
          <img class="" src="{{STATIC_URL}}img/carousel/carousel-3.png">
            <div align="center">
              <span class="">
                Link 3
              </span>
            </div>
          </img>
        </a>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- End Carousel -->

  <!-- Recent posts, 5 no more
  ================================================== -->
  {% load blog_tags keyword_tags mezzanine_tags i18n %}
  {% block blog_recent_posts %}
    {% blog_recent_posts 5 as recent_posts %}
      {% if recent_posts %}
      <ul class="list-unstyled recent-posts">
        {% for recent_post in recent_posts %}
          <li>
            {% spaceless %}
              <div class="">
                <a href="{{ recent_post.get_absolute_url }}" class="list-group-item-text">
                  <h3>
                    {{ recent_post.title }}
                  </h3>
                </a>
                {{ recent_post.publish_date }}
              </div>
              <br />
              <div class="" align="left">
                {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                  <img class="img-responsive" width="200px" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 50 50 %}">
                {% endif %}
              </div>
              <br />
              <div class="text_description">
                {{ recent_post.description }}
                <br />
                <br />
                <a href="{{ recent_post.get_absolute_url }}" class="list-group-item-text">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  Read more...
                </a>
              </div>
              <hr />
            {% endspaceless %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
  <div align="right">
    <a href="/blog">
      <span class="glyphicon glyphicon-chevron-right"></span> All posts...
    </a>
  </div><!-- End Recent posts, 5 no more -->

{% endblock %}
